<div class=" container bg-white rounded mt-3 p-3">
    <h4 class="pb-2">Travel Blogs</h4>
    <div class="row">
        <div class="col-md-3 mr-1">
            <div class="card">
                <img src="../../assets/travelblog/himalaya1.jpg" class="card-img-top" alt="..." height="138px">
                <div class="card-body">
                  <p class="card-text text-black">Driving the Himalayas is one of the most adventurous, nerve-testing 4x4 crossings in India. Should you drive yourself or take a tour? Here’s what you need to know.<a  class="card-link">read more..</a></p>
                  
              </div>
        </div>

    </div>

    <div class="col-md-3 mr-1">
        <div class="card" >
            <img src="../../assets/travelblog/hillstation1.jpg" class="card-img-top" alt="..." height="138px">
            <div class="card-body">
              <p class="card-text text-black">If you’re budget-conscious and want to travel more for less, then the best way is truly to choose your destinations wisely, can get you much further <a  class="card-link">read more..</a></p>
              
          </div>
    </div>

</div>

<div class="col-md-3  mr-1">
    <div class="card" >
        <img src="../../assets/travelblog/beaches1.jpg" class="card-img-top" alt="..." height="138px">
        <div class="card-body">
          <p class="card-text text-black">From scenic beaches offering an escape from the busy city life, to those action-packed with thrilling water sports, parties and adventure; there are plenty of <a  class="card-link">read more..</a></p>
          
      </div>
</div>

</div>

<div class="col-md-3  mr-1">
    <div class="card" >
        <img src="../../assets/travelblog/architecture.webp" class="card-img-top" alt="..." height="138px">
        <div class="card-body">
          <p class="card-text text-black">There really is something magical about Hampi that I just can’t describe, there’s a good reason why this place is very much on the backpacker trail in India.<a  class="card-link">read more..</a></p>
          
      </div>
</div>

</div>
</div>
</div>
