<div class=" container bg-white w-75 p-3 rounded mt-3">
    <div class="d-flex d-inline-block flex-row justify-content-center rounded-pill bg-white container w-75 py-3  shadow-lg rounded">
        <div class="px-3"><h6 class="btn rounded-pill text-white" (click)="changeservicetype('holidays')" [style.background]="holidaybtncolor">Holidays</h6></div>
        <div class="px-3"><h6 class="btn rounded-pill text-white px-4" (click)="changeservicetype('hotels')" [style.background]="hotelbtncolor">Hotels</h6></div>

    </div>
    <div *ngIf="servicetype=='holiday'">
        <div *ngIf="userdata['package'].length==0" class="container mt-5 w-75 text-primary p-5 text-center" >
            <i class="fa fa-frown-o" style="font-size: 36px;color:red"></i>No Holiday packages Booked.<br>
            <button class="btn px-4 text-white" (click)="bookholidays()" style="background-image:linear-gradient(to right,rgb(110, 168, 223),#1885f1);border-radius: 25px;">Book Now</button>
        </div>
        <div *ngFor="let package of userdata['package']" class="container mt-3 w-75">
            <div class="card">
                <div class="card-body row">
                    <div class="col-md-4"><img [src]="package['packageobj']['image']" height="250px" width="100%"></div>
                    <div class="col-md-6">
                  <h5 class="card-title">{{package['packageobj']["package_name"]}}</h5>
                  <h6 class="text-secondary" style="padding-top:5%">Package Includes</h6>
                  <h6 style="color:#f0772c">{{package['packageobj']["package_facilities"]}}</h6>
                  <p class="pt-1 text-primary">Duration: {{package['packageobj']["package_days"]}} Nights</p>
                  <p class="pt-1 text-primary">Trip start date: {{package["tripstartdate"]}}</p>
                  <p class="pt-1 text-primary">Trip End date: {{package["tripenddate"]}}</p>
                  <p class="pt-1 text-primary">people Travelling: {{package["totalpeople"]}}</p>
                </div> 
                <div class="col-md-2 bg-light text-center">
                  <h5 class="card-text" style="padding-top:30%"><i class="fa fa-rupee" >{{package["totalpackagecost"]}}</i></h5>
                  <p class="small">Total price paid</p>
                  <div *ngIf="checkdate(package['tripstartdate'])>today">
                  <a  class="btn btn-danger" (click)="cancelpackage(package)">Cancel</a>
                  </div>
                  <div *ngIf="checkdate(package['tripstartdate'])<=today"><small>Happy Holidays!</small></div>
                </div>
                </div>
              </div>
        
        </div>
        </div>
    <div *ngIf="servicetype=='hotel'">
        <div *ngIf="userdata['rooms'].length==0" class="container mt-5 w-75 text-primary p-5 text-center" >
            <i class="fa fa-frown-o" style="font-size: 36px;color:red"></i>No Hotels Booked.<br>
            <button class="btn px-4 text-white" (click)="bookhotels()" style="background-image:linear-gradient(to right,rgb(110, 168, 223),#1885f1);border-radius: 25px;">Book Now</button>
        </div>
        <div *ngFor="let room of userdata['rooms']" class="container mt-3 w-75">
            <div class="card">
                <div class="card-body row">
                    <div class="col-md-4"><img [src]="room['hoteldata']['image']" height="250px" width="100%"></div>
                    <div class="col-md-6">
                  <h5 class="card-title">{{room['hoteldata']["hotel_name"]}}</h5>
                  <h6 class="text-secondary" style="padding-top:5%">Details</h6>
                  <p style="color:#f0772c">City: {{room['hoteldata']["hotel_city"]}}</p>
                  <p class="pt-1 text-primary">Check-In date: {{room["checkindate"]}}</p>
                  <p class="pt-1 text-primary">Check-Out date: {{room["checkoutdate"]}}</p>
                  <p class="pt-1 text-primary">Number of rooms: {{room["rooms"]}}</p>
                </div> 
                <div class="col-md-2 bg-light text-center">
                  <h5 class="card-text" style="padding-top:30%"><i class="fa fa-rupee" style="font-size-adjust:20px" >{{room["totalprice"]}}</i></h5>
                  <p class="small">Total price paid</p>
                  <div *ngIf="checkdate(room['checkindate'])>today">
                  <a  class="btn btn-danger" (click)="cancelhotel(room)">Cancel</a></div>
                  <div *ngIf="checkdate(room['checkindate'])<=today">Happy Stay!</div>
                </div>
                </div>
              </div>
        
        </div>
    </div>
</div>
